.container-overview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E6DDFF;
    margin: 1% 2% 1%;
    border-radius: 15px;
    padding: 1% 3% 1% 3%;
    
}

.summery{
    display: flex;
    align-items: center;
    flex: 1;
    line-height: 0.9;
}

.date-time{
    font-size: 18px;
    font-weight: 400;
}

.overview{
    
}

.location{
    font-size: 12px;
}
.temperature{
    font-size: 96px;
    font-weight: 300;
}

.temperature span{
    font-size: 96px;
    font-weight: 100;
}

.feature-unit{
    font-size: 18px;
}

.overview-icon{
    width: 175px;
}

.feature{
    padding-left: 0px;
}

.feature-values{
    display: flex;
    justify-content: space-between;
    flex: 2;
}

.feature-title{
    font-size: 12px;
}

.feature-value{
    font-size: 36px;
}